body {
    background-color: #222222;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

img {
    pointer-events: none;
    width: 300px;
    height: 300px;
}

#cookieContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

#cookie {
    transition: 0.25s;
    display: inline-flex;
    cursor: default;
    transform: scale(1);
    top: 410px;
    left: 410px;
    user-select: none;
}

#cookie:hover {
    cursor: crosshair;
    transform: scale(1.1);
}

#cookie:active {
    transition: 0.25s;
    transform: scale(0.9);
}


#shop {
    width: 23%;
    align-items: right;
    overflow-y:auto;
}

.shopButton {
    width: 100%;
    height: 50px;
    background-color: #444444;
    color: #ffffff;
    font-size: 16px;
    border-style: solid;
    border-color: #666666;
    border-radius: 5px;
    text-align: left;
    cursor: default;
    transition: 0.25s;

    background-repeat: no-repeat;
    padding-left: 75px;
}

.shopButton:hover {
    background-color: #666666;
    cursor: crosshair;
}

.shopButton:active {
    background-color: #222222;
}

.shopButton:disabled {
    color: #FF0000;
    background-color: #222222;
    border-color: #444444;
    cursor:default;
}




.cookieIncreaseDisplay {
    pointer-events: none;
    user-select: none;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-shadow: #000000 10px 10px 150px;
}

#tabbedMenu {
    width: 50%;
}

#separator {
    width: 2%;
    background-color: #ffffff;
}