body {
	text-align: center;
	color: #FF8713;
	font-family: "smw";
}

canvas {
	image-rendering: pixelated;
    border: #2313ff 10px solid;
    object-fit:scale-down;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #6600ff;

}

