@font-face {
	font-family: 'smw';
	src: url('SMW.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

canvas {
	outline: black 3px solid;
}

body {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	width: 80px;
	height: 30px;
	outline-width: 10px;
	transition: transform 0.3s, background-color 0.3s;
	border-radius: 5px;
	margin: 10px;
	flex-direction: column;
	text-decoration: none;
	text-align: center;
	padding: 12px;
	display: inline-flex;
	background-color: rgb(0, 255, 55);
	border-radius: 5px;
}

a:hover {
	transition: transform 0.1s, background-color 0.1s;
	background-color: rgb(0, 255, 55);
	transform: scale(1.25);
}