body {
    text-align: center;
    width: 100%;

}
button {
    transition: transform 0.2s;
    margin: 3px;
    order: 1;
    min-width: 50px;
    min-height:50px;
    font-size: 30px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    transform: scale(1);
}
button:hover {
    transform: scale(1.5);
    background-color: #373737;
}
button:active {
    transform: scale(1.25);
    background-color: #696969;
}
input {
    min-width: 40px;
    min-height: 36px;
}